* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gradient-color-1: #a960ee;
    --gradient-color-2: #ff333d;
    --gradient-color-3: #90e0ff;
    --gradient-color-4: #ffcb57;
    z-index: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #a960ee;
    --gradient-color-2: #ff333d;
    --gradient-color-3: #90e0ff;
    --gradient-color-4: #ffcb57;
    z-index: 0;
}